@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

.altruad-original {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#faf9f7;
    border: 1px solid #d1d6da;
    margin-bottom:20px;
    position:relative;
    width: 420px;
	font-size:12px;
	font-family:'Open Sans', sans-serif;
}

.altruad-original .sharebuttons {
    padding: 8px;
    z-index: -100;
}

.altruad-minimalist {
	font-size:12px;
	font-family:'Open Sans', sans-serif;
}

.altruad-minimalist .sharebuttons {
    padding: 8px;
    z-index: -100;
}

.sharebuttons {
    text-align:center;
}

.altruad:hover {
    opacity:1!important;
}

.raised {
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #faf9f7 url('http://analytics.altruad.com/img/altruad.png') no-repeat right;
    border-top: 1px solid #d1d6da;
    padding: 4px;
    text-align:left;
}
#hotspot {color:#29ace3; padding-bottom:1px; border-bottom:1px dotted #29ace3; cursor:pointer}
#share-info {z-index: 100; position:absolute; display:block; padding:6px; -moz-border-radius: 5px; border-radius: 5px; background:#faf9f7 top left no-repeat; border:1px solid #d1d6da}

/* Reference icons from font-files */

@font-face {
	font-family: 'zocial';
	font-style: normal;
	font-weight: normal;
	src: url('http://analytics.altruad.com/type/zocial-regular-webfont.eot');
	src: url('http://analytics.altruad.com/type/zocial-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('http://analytics.altruad.com/type/zocial-regular-webfont.woff') format('woff'),
		url('http://analytics.altruad.com/type/zocial-regular-webfont.ttf') format('truetype'),
		url('http://analytics.altruad.com/type/zocial-regular-webfont.svg#ZocialRegular') format('svg');
}

/* Button structure */

.altruad,
a.altruad {
	border-bottom-color: rgba(0,0,0,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	color: #fff;
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	cursor: pointer;
	display: inline-block;
	font: bold 100%/2.1 "Lucida Grande", Tahoma, sans-serif;
	padding: 0 .95em 0 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	
	position: relative;
	z-index: 100;
	
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

.altruad:before {
	content: "";
	border-right: 0.075em solid rgba(0,0,0,0.1);
	float: left;
	font: 120%/1.65 zocial;
	font-style: normal;
	font-weight: normal;
	margin: 0 0.5em 0 0;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	
	-moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	-webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
	box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
}

.altruad:active {
	outline: none; /* outline is visible on :focus */
}

/* Buttons can be displayed as standalone icons by adding a class of "icon" */

.altruad.icon {
	overflow: hidden;
	max-width: 2.4em;
	padding-left: 0;
	padding-right: 0;
	max-height: 2.15em;
}
.altruad.icon:before {
	padding: 0;
	width: 2em;
	height: 2em;
	
	box-shadow: none;
	border: none;
}

/* Gradients */

.altruad {
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
}

.altruad:hover, .altruad:focus {
	background-image: -moz-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -ms-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -o-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.15)), color-stop(49%, rgba(255,255,255,.15)), color-stop(51%, rgba(0,0,0,.1)), to(rgba(0,0,0,.15)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
	background-image: linear-gradient(rgba(255,255,255,.15) 49%, rgba(0,0,0,.1) 51%, rgba(0,0,0,.15));
}

.altruad:active {
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, transparent), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
	background-image: linear-gradient(bottom, rgba(255,255,255,.1), rgba(255,255,255,0) 30%, transparent 50%, rgba(0,0,0,.1));
}

/* Adjustments for light background buttons */
.altruad.email {
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-color: rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

/* :hover adjustments for light background buttons */

.altruad.email:focus,
.altruad.email:hover,
.altruad.twitter:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), color-stop(49%, rgba(255,255,255,0.2)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.15)));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
	background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
}

/* :active adjustments for light background buttons */


.altruad.email:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
	background-image: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}
 
/* Button icon and color */
/* Icon characters are stored in unicode private area */
.altruad.email:before {content: "\E03C"; color: #312c2a;}
.altruad.facebook:before {content: "\E045";}
.altruad.google:before {content: "\E00A";}
.altruad.twitter:before {content: "\E033";}

/* Button background and text color */

.altruad.email {background-color: #f0f0eb; color: #312c2a;}
.altruad.facebook {background-color: #4863ae;}
.altruad.google {background-color: #dd4b39;}
.altruad.twitter {background-color: #46c0fb;}

/* Any browser-specific adjustments */

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Custom modal */
.altruad-modal {
    background:#FAF9F7;
    border:1px solid #D1D6DA;
    border-radius:5px;
    font-family:'Open Sans', sans-serif;
    opacity:0.9;
    position:absolute;
    top:80px;
    width:420px;
}

.altruad-modal fieldset {
    border:0;
}
.altruad-modal label {
    display:block;
    width:100%;
}
.altruad-modal label span {
    display:inline-block;
    margin-right:10px;
    text-align:right;
    width:40px;
}
.altruad-modal input {
    width:200px;
}
.altruad-modal textarea {
    font-family:'Open Sans', sans-serif;
    height:80px;
    margin-top:10px;
    padding:0;
    resize:vertical;
    width:100%;
}
#email-submit {

}
#close {
    background-image:url("http://analytics.altruad.com/img/close.png");
    background-position:top;
    height:30px;
    position:absolute;
    right:-15px;
    top:-15px;
    width:30px;
}
#close:hover {
    background-position:bottom;
}